<div class="page-header">
    <h4>Batch</h4>
</div>
<div class="row">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Please select house</h4>
				<p class="card-description"></p>
				<form>
					<div class="row">
						<div class="col-md-6" standard-dropdown header="House" 
	                        model="vm.house.id" readonly="false"
	                        options="vm.houseOptions" key="id" value="name"
	                        change-action="vm.selectHouse()"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="vm.house.id">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					{{vm.hasActiveBatch ? 'Edit Batch' : 'Start New Batch'}}
				</h4>
				<p class="card-description" ng-if="vm.editingPermission">
					{{vm.hasActiveBatch ? 
					'Complete required input below and click on Submit to edit batch details.' : 
					'Complete required input below and click on Submit to start a new batch.'}}
				</p>
				<form name="vm.startBatchForm" class="form-sample" novalidate>
					<div class="row" >
                        <div class="col-md-6" standard-text class="col-md-12" header="Batch Name" 
                            model="vm.batch.batch" readonly="!vm.editingPermission" required="true"></div>
						<div class="col-md-6" standard-datepicker header="Batch Start Date" 
                            model="vm.batch.startDate" readonly="!vm.editingPermission" required="true"></div>
					</div>
					<div class="row">
						<div class="col-md-6" standard-number class="col-md-12" header="Start Age" 
                            model="vm.batch.startAge" readonly="!vm.editingPermission" required="true"></div>
						<div standard-number class="col-md-6" header="Beginning Bird Balance" 
							model="vm.batch.initialBirdBalance" readonly="!vm.editingPermission" required="true"></div>
					</div>
					<div class="col-xs-12 text-right">
						<button type="submit" class="btn btn-dark" ng-click="vm.completeBatch()" ng-if="vm.hasActiveBatch && vm.editingPermission">Complete Batch</button>
						<button type="submit" class="btn btn-dark" ng-click="vm.verifyFields(vm.startBatchForm)" ng-if="vm.editingPermission">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="vm.house.id">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					Archive
				</h4>
				<p class="card-description" >
					{{vm.archivedBatches && vm.archivedBatches.length > 0 ? "Click on the batch to see archived data." : "No batches found in archive."}}
				</p>
				<div class="col-xs-12 scrollable" ng-if="vm.archivedBatches && vm.archivedBatches.length > 0">
					<table st-table="vm.archivedBatchesCopy" st-safe-src="vm.archivedBatches" class="table table-striped">
						<thead>
							<tr>
								<th colspan="7"><input st-search="" class="form-control" placeholder="Search" type="text"/></th>
							</tr>
							<tr>
					      		<th st-sort="batch">Batch</th>
					      		<th st-sort="startAge">Start Age</th>
					      		<th st-sort="initialBirdBalance">Initial Bird Balance</th>
					      		<th st-sort="startDate">Start Date</th>
					      		<th st-sort="endDate">End Date</th>
					      		<th st-sort="lastInsertUpdateBy">Last Updated By</th>
					      		<th st-sort="lastInsertUpdateTS">Last Update Date</th>
					    	</tr>
					  	</thead>
					  	<tbody>
					    	<tr ng-repeat="batch in vm.archivedBatchesCopy">
					      		<td>
					      			<a href ng-click="vm.viewBatch(batch.id)">
					      				{{batch.batch}}
					      			</a>
					      		</td>
					      		<td>
					      			{{batch.startAge}}
					      		</td>
					      		<td>
					      			{{batch.initialBirdBalance}}
					      		</td>
					      		<td>
					      			{{batch.startDate | dateFormat}}
					      		</td>
					      		<td>
					      			{{batch.endDate | dateFormat}}
					      		</td>
					      		<td>
					      			{{batch.lastInsertUpdateBy}}
					      		</td>
					      		<td>
					      			{{batch.lastInsertUpdateTS | dateFormat}}
					      		</td>
					    	</tr>
					  	</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<loading-spinner is-loading="vm.loading"></loading-spinner>