<div class="page-header">
	<h4>Feeds Delivered</h4>
</div>
<div class="row">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Delivery History</h4>
				<p class="card-description" ng-if="!vm.loading">
					{{vm.feedsDeliveryHistory && vm.feedsDeliveryHistory.length == 0 ? "No deliveries found." : null}}
				</p>
				<div class="col-xs-12">
					<standard-table ng-if="vm.feedsDeliveryHistory && vm.feedsDeliveryHistory.length > 0"
						table-defn="vm.feedsDeliveredTableDefn"
						data="vm.feedsDeliveryHistory"></standard-table>
				</div>
			</div>
		</div>
	</div>
</div>
<loading-spinner is-loading="vm.loading"></loading-spinner>