<div class="page-header">
	<h4>Graded Eggs History</h4>
</div>

<form>
	<div class="row">
		<div class="col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">
						Please Select Date Range
					</h4>
					<div class="row">
						<div class="col-md-6" standard-datepicker header="Start Date" 
							model="vm.startDate" change-action="vm.selectDate()"></div>
						<div class="col-md-6" standard-datepicker header="End Date" 
							model="vm.endDate"  change-action="vm.selectDate()"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="row">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					Graded Eggs History
					<span class="pull-right">
						<button class="btn btn-sm btn-dark" ng-click="vm.exportData()">
							<span class="fa fa-table"></span> Export
						</button>
					</span>
				</h4>
				<p class="card-description" >
					Click on the production date to see detailed report.
				</p>
				<div class="col-xs-12 scrollable padding-top-5">
					<form name="gradedEggsForm">
						<table class="table table-striped" id="gradedEggsTable" st-table="vm.gradedEggsReportCopy" st-safe-src="vm.gradedEggsReport">
							<thead>
								<tr>
									<th st-sort="inputDate">
										Production Date
									</th>
									<th ng-repeat="eggType in vm.eggTypes">
										{{eggType.header}}
									</th>
									<th>
										Total
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="report in vm.gradedEggsReportCopy">
									<td>
										<a href ng-click="vm.viewGradedEggsReport(report.inputDate)">
											{{report.inputDate | dateFormat}}
										</a>
									</td>
									<td ng-repeat="eggType in vm.eggTypes">
										{{report[eggType.key]}}
									</td>
									<td>
										{{vm.getTotal(report)}}
									</td>
								</tr>
							</tbody>
							<tfoot ng-if="vm.gradedEggsReport.length > 15">
								<tr>
									<td colspan="12" class="text-center">
										<div st-pagination="" st-items-by-page="15" st-displayed-pages="5"></div>
									</td>
								</tr>
							</tfoot>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<loading-spinner is-loading="vm.loading"></loading-spinner>