<div class="page-header">
	<h4>Input</h4>
</div>
<div class="row">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					Graded Eggs Date
				</h4>
				<p class="card-description">
					Select a date to edit graded eggs data for that date.
				</p>
				<form>
					<div class="col-xs-12">
						<div class="col-md-6" standard-datepicker header="Date" 
							model="vm.gradedEggsDate" required="true" change-action="vm.selectDate()"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-show="!vm.editing">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Graded Eggs</h4>
				<p class="card-description">
					{{vm.editingGradedEggs ? "Click on Submit to insert/update graded eggs data.": "Click on Edit to input/update graded eggs data."}}
				</p>
				<div class="col-xs-12">
					<form name="gradedEggsForm">
						<table class="table" id="gradedEggsTable">
							<thead>
								<tr>
									<th ng-if="!vm.editingGradedEggs"></th>
									<th ng-repeat="eggType in vm.eggTypes">
										{{eggType.header}}
									</th>
									<th ng-if="!vm.editingGradedEggs">Totals</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="!vm.editingGradedEggs">
									<td>Beginning</td>
									<td ng-repeat="eggType in vm.eggTypes">
										{{vm.gradedEggsBeginning[eggType.key]}}
									</td>
									<td>{{vm.getTotal(vm.gradedEggsBeginning)}}</td>
								</tr>
								<tr>
									<td  ng-if="!vm.editingGradedEggs">Production</td>
									<td ng-repeat="eggType in vm.eggTypes">
										<div standard-number header="{{eggType.header}}" hide-header="true"
												model="vm.gradedEggsProd[eggType.key]" ng-if="vm.editingGradedEggs"></div>
										{{!vm.editingGradedEggs ? vm.gradedEggsProd[eggType.key] : null}}
									</td>
									<td ng-if="!vm.editingGradedEggs">{{vm.getTotal(vm.gradedEggsProd)}}</td>
								</tr>
								<tr ng-if="!vm.editingGradedEggs">
									<td>Available</td>
									<td ng-repeat="eggType in vm.eggTypes">
										{{vm.gradedEggsBeginning[eggType.key] + vm.gradedEggsProd[eggType.key]}}
									</td>
									<td>{{vm.getTotal(vm.gradedEggsBeginning) + vm.getTotal(vm.gradedEggsProd)}}</td>
								</tr>
							</tbody>
						</table>
						
						<div class="text-right">
							<button class="btn btn-dark" ng-click="vm.editGradedEggs(gradedEggsForm)" ng-if="!vm.editingGradedEggs">
								Edit
							</button>
							<button class="btn btn-dark" ng-click="vm.verifyFields(gradedEggsForm)" ng-if="vm.editingGradedEggs">
								Submit
							</button>
							<button class="btn btn-secondary" ng-click="vm.back()" ng-if="vm.editingGradedEggs">
								Back
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<loading-spinner is-loading="vm.loading"></loading-spinner>