<div class="page-header">
	<h4>Houses</h4>
</div>
<div class="row" ng-if="!(vm.editingHouse || vm.addingHouse)">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<p class="card-description" ng-if="!vm.loading">
					{{vm.houses && vm.houses.length == 0 ? "No houses found. Click on Add to add a new house." :
					  vm.houses && vm.houses.length > 0 ? "Click on Add to add a new house." : null}}
				</p>
				<div class="col-xs-12">
					<standard-table ng-if="vm.houses && vm.houses.length > 0"
						table-defn="vm.houseTableDefn"
						data="vm.houses"></standard-table>
					<button class="btn btn-dark" ng-click="vm.addHouse()">
						Add
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="vm.editingHouse || vm.addingHouse">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					{{vm.editingHouse ? "Edit House" : vm.addingHouse ? "Add House" : null}}
				</h4>
				<p class="card-description">
					{{vm.editingHouse ? "Complete required input below and click on Submit to edit house details." : 
					  vm.addingHouse ? "Complete required input below and click on Submit to add new house." : null}}
					
				</p>
				<form name="houseForm" class="form-sample" novalidate>
					<div class="row">
						<div standard-text class="col-md-6" header="House" 
							model="vm.houseInfo.name" readonly="false" required="true"></div>
						<div standard-text class="col-md-6" header="Stockman" 
							model="vm.houseInfo.stockman" readonly="false" required="true"></div>
					</div>
					<div class="col-xs-12 text-right">
						<button class="btn btn-dark" ng-click="vm.verifyFields(houseForm)">Submit</button>
						<button class="btn btn-secondary" ng-click="vm.back()">Back</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<loading-spinner is-loading="vm.loading"></loading-spinner>