<div class="page-header">
	<h4>Manage Users</h4>
</div>
<div class="row" ng-if="!vm.editingUser && !vm.addingUser && !vm.resettingPassword">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<p class="card-description">
					Click on Add/Edit to add new user or edit existing user information.
				</p>
				<div class="col-xs-12 scrollable">
					<table st-table="vm.usersCopy" st-safe-src="vm.users" class="table table-striped">
						<thead>
							<tr>
								<th colspan="8"><input st-search="" class="form-control" placeholder="Search" type="text"/></th>
							</tr>
							<tr>
					      		<th st-sort="firstName">First Name</th>
					      		<th st-sort="lastName">Last Name</th>
					      		<th st-sort="username">Username</th>
					      		<th st-sort="title">Title</th>
					      		<th st-sort="enabled">Enabled</th>
					      		<th st-sort="lastInsertUpdateBy">Last Updated By</th>
					      		<th st-sort="updated_at">Last Update Date</th>
					      		<th></th>
					    	</tr>
					  	</thead>
					  	<tbody>
					    	<tr ng-repeat="user in vm.usersCopy">
					      		<td>
					      			{{user.firstName}}
					      		</td>
					      		<td>
					      			{{user.lastName}}
					      		</td>
					      		<td>
					      			{{user.username}}
					      		</td>
					      		<td>
					      			{{user.title}}
					      		</td>
					      		<td>
					      			<span ng-if="user.enabled" class="text-success"> Yes <i class="fa fa-check-circle" aria-hidden="true"></i> </span>
					      			<span ng-if="!user.enabled" class="text-danger"> No <i class="fa fa-times-circle" aria-hidden="true"></i> </span>
					      		</td>
					      		<td>
					      			{{user.lastInsertUpdateBy}}
					      		</td>
					      		<td>
					      			{{user.updated_at | dateFormat}}
					      		</td>
					      		<td>
					      			<button class="btn btn-sm btn-dark" ng-click="vm.editUser(user)">
					      				Edit
					      			</button>
					      			<button class="btn btn-sm btn-dark" ng-click="vm.disableUserAlert(user.id)" ng-if="user.enabled">
					      				Disable
					      			</button>
					      			<button class="btn btn-sm btn-dark" ng-click="vm.enableUserAlert(user.id)" ng-if="!user.enabled">
					      				Enable
					      			</button>
					      			<button class="btn btn-sm btn-dark" ng-click="vm.resetPassword(user, user.id)">
					      				Reset Password
					      			</button>
					      		</td>
					    	</tr>
					  	</tbody>
					</table>
					<button class="btn btn-sm btn-dark" ng-click="vm.addUser()">
						Add User
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="vm.editingUser || vm.addingUser">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					{{vm.editingUser ? "Edit User" : vm.addingUser ? "Add User" : null}}
				</h4>
				<p class="card-description">
					{{vm.editingUser ? "Complete required input below and click on Submit to edit user details." : 
					  vm.addingUser ? "Complete required input below and click on Submit to add new user." : null}}
				</p>
				<form name="userForm" class="form-sample" novalidate>
					<div class="row">
						<div standard-text class="col-md-6" header="Title" 
							model="vm.userInfo.title"></div>
					</div>
					<div class="row">
						<div standard-text class="col-md-6" header="First Name" 
							model="vm.userInfo.firstName" required="true"></div>
						<div standard-text class="col-md-6" header="Last Name" 
							model="vm.userInfo.lastName" required="true"></div>
					</div>
					<div class="row">
						<div standard-text class="col-md-6" header="Username" 
							model="vm.userInfo.username" required="true"></div>
					</div>
					<div class="row" ng-if="vm.addingUser">
						<div standard-password class="col-md-6" header="Password" 
							model="vm.userInfo.password" required="true"></div>
						<div standard-password class="col-md-6" header="Confirm Password" 
							model="vm.userInfo.password_confirmation" required="true"></div>
					</div>

					<div class="row">
						<div class="col-md-6 col-sm-12 user-roles-label">
							<label class="available-roles">Available Roles</label>
							<label class="granted-roles float-right">Granted Roles</label>
						</div>
					</div>

					<div class="row col-md-6 col-12 scrollable roles-multi-select" ng-if="vm.userRoles && vm.userRoles.length > 0">
						<select multiple data-ng-options="option.key as option.value for option in vm.userRoles" data-ng-model="vm.userInfo.roles" data-multi-select="vm.userRoles"></select>
					</div>

					<div class="col-xs-12 text-right">
						<button class="btn btn-dark" ng-click="vm.verifyFields(userForm)">Submit</button>
						<button class="btn btn-secondary" ng-click="vm.back()">Back</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-if="vm.resettingPassword">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					Reset Password
				</h4>
				<p class="card-description">
					Complete required input below and click on Submit to set user restrictions.
				</p>
				<form name="resetPasswordForm" class="form-sample" novalidate>
					<div class="row">
						<div standard-password class="col-md-6" header="New Password" 
							model="vm.resetPasswordObject.password" required="true"></div>
						<div standard-password class="col-md-6" header="Confirm New Password" 
							model="vm.resetPasswordObject.password_confirmation" required="true"></div>
					</div>
					<div class="col-xs-12 text-right">
						<button class="btn btn-dark" ng-click="vm.resetPassword(resetPasswordForm)">Submit</button>
						<button class="btn btn-secondary" ng-click="vm.back()">Back</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<loading-spinner is-loading="vm.loading"></loading-spinner>