<div class="navbar-brand-wrapper d-flex align-items-center">
	<a class="navbar-brand brand-logo text-success" ui-sref="main.dashboard">
		<b>Layers Portal</b>
	</a>
	<a class="navbar-brand brand-logo-mini text-success text-center" ui-sref="main.dashboard">
		<b>LP</b>
	</a>
</div>
<div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
	<h5 class="mb-0 font-weight-medium d-none d-lg-flex">Welcome {{nav.userInfo.firstName + " " + nav.userInfo.lastName}}</h5>
	<ul class="navbar-nav navbar-nav-right ml-auto">
		<li class="nav-item">
			<a href ng-click="nav.logout()" class="btn btn-dark btn-sm">
				<i class="fa fa-sign-out"></i> Logout
			</a>
		</li>
	</ul>
	<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" ng-click="nav.toggleNavbar()">
		<span class="icon-menu"></span>
	</button>
</div>
<loading-spinner is-loading="nav.loading"><loading-spinner>