<ul class="nav">
	<li class="nav-item nav-profile">
		<a class="nav-link">
			<div class="profile-image">
				<img class="img-xs rounded-circle" src="images/profile.jpg" alt="profile image">
				</div>
				<div class="text-wrapper">
					<p class="profile-name">{{nav.userInfo.firstName + " " + nav.userInfo.lastName}}</p>
					<p class="designation">{{nav.userInfo.title}}</p>
				</div>
			</a>
		</li>
		<li class="nav-item nav-category">
			<span class="nav-link">Dashboard</span>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.dashboard">
				<span class="menu-title">Dashboard</span>
				<i class="icon-screen-desktop menu-icon"></i>
			</a>
		</li>
		<li class="nav-item nav-category">
			<span class="nav-link">Input</span>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.feeds-delivery">
				<span class="menu-title">Feeds Delivery</span>
				<i class="fa fa-truck menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.eggs-production">
				<span class="menu-title">Eggs Production</span>
				<i class="icon-layers menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.graded-eggs">
				<span class="menu-title">Graded Eggs</span>
				<i class="icon-badge menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.sales">
				<span class="menu-title">Sales</span>
				<i class="fa fa-money menu-icon"></i>
			</a>
		</li>
		<li class="nav-item nav-category">
			<span class="nav-link">Master</span>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.houses">
				<span class="menu-title">Houses</span>
				<i class="icon-home menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.batch">
				<span class="menu-title">Batches</span>
				<i class="fa fa-th-large menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.customers">
				<span class="menu-title">Customers</span>
				<i class="fa fa-address-book menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.prices">
				<span class="menu-title">Prices</span>
				<i class="fa fa-diamond menu-icon"></i>
			</a>
		</li>
		<li class="nav-item nav-category">
			<span class="nav-link">Reports</span>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.historical-reports">
				<span class="menu-title">Historical Reports</span>
				<i class="fa fa-book menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.feeds-delivered">
				<span class="menu-title">Feeds Delivered</span>
				<i class="fa fa-cubes menu-icon"></i>
			</a>
		</li>
		<li class="nav-item nav-category">
			<span class="nav-link">Administrator</span>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.manage-users">
				<span class="menu-title">Manager Users</span>
				<i class="fa fa-user-circle-o menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.data-lock">
				<span class="menu-title">Data Lock</span>
				<i class="icon-lock menu-icon"></i>
			</a>
		</li>
		<li class="nav-item nav-category">
			<span class="nav-link">Help</span>
		</li>
		<li class="nav-item">
			<a class="nav-link" ui-sref="main.contact-us">
				<span class="menu-title">Contact Us</span>
				<i class="icon-phone menu-icon"></i>
			</a>
		</li>
	</ul>