<div class="form-group row">
	<label class="col-sm-12">{{header}} <span ng-if="required && !readonly" class="text-danger">*</span></label>
	<div class="col-sm-12">
		<input id="$index" type="text" class="form-control" ng-class="{'is-invalid': (form.$invalid && (form.$touched || parentForm.$submitted)) && required}" 
			name="{{header}}" ng-model="model" ng-readonly="readonly" ng-required="required" ng-disabled="readonly"
			uib-datepicker-popup="{{'MM/dd/yyyy'}}" is-open="open" datepicker-options="dateOptions" 
			show-button-bar="false" ng-click="open = true" ng-focus="open = true" ng-change="changeAction()"/>
	</div>
</div>