.form-group label {
    font-weight: bold;
}

.btn {
    padding: 0.75rem 1.5rem;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.5rem 0.75rem;
}

table {
	font-size: 14px;
}

.table td, .table th {
    padding: 5px;
    vertical-align: middle;
}

.add-button {
	float: right;
    margin-bottom: 5px;
}

.img-xs {
    width: 70px;
    height: 80px;
}

#toast-container * {
    cursor: pointer;
}

.content-wrapper {
    padding: 2.75rem 1.75rem 0;
}

.toast-top-right {
    top: 80px;
    right: 16px;
}

.form-control.is-invalid {
    background: #de778138;
}

.form-control[readonly] {
    color: #495057;
}

select.form-control {
    color: #495057;
}

.spinner-container {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
    z-index: 10000;
}

.spinner {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    top: 45%;
    width: 50px;
    height: 50px;
}

.no-border {
    border: none !important;
}

.no-margin {
    margin: 0px !important;
}

.fixed-top {
    position: absolute;
}

.invoice-wrapper {
    border-style: solid;
    border-width: 1px;
    border-color: #3e4b5b;
    margin: .75rem 0px;
}

.invoice-header {
    background-color: #3e4b5b;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.invoice-body {
    padding: 5px;
}

.no-padding {
    padding: 0px !important;
}

.table-input {
    padding: 5px !important;
    height: 2rem;
}

.select-is-invalid {
    border: 1px solid #dc3545 !important;
    background: #de778138;
}

.swal2-styled.swal2-confirm {
    background-color: #3e4b5b;
}

.swal2-styled.swal2-cancel {
    background-color: #d8d8d8;
}